html, body {
  height: 100%;
}
#top-bar-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.top-bar {
  background-color: #f9f9f9;
  text-align: center;
}

.top-bar > ul {
  border-bottom-color: #b9b3c3;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin:0px;
  padding: 0px;
  text-align: center;
}

.top-bar-button {
  text-align: center;
  overflow : auto;
  display:inline-block;
  margin-left: 10%;
  margin-right: 10%;
}

.top-bar-button > span {
  display : block;
  margin: 2px;
}
.active .top-bar-button-icon-glyph {
  color : #810082;
}
.active .top-bar-button-icon-text {
  color : #820054;
}
.top-bar-button-icon-glyph {
  font-size: 150%;
  color : #333333;
}
.top-bar-button-icon-text {
  font-size: 75%;
  color : #8c8c8c;
}

#content-view {
  background-color: #E8E0F4;
  text-align: center;
  overflow: scroll;
  padding-top: 48px;
  position:static;
  z-index: 0;
  min-height: 100%;
}

.purple-button {
  border:0px;
  padding: 4px;
  margin-top: 8px;
  border-radius: 5px;
  background-color: #936ac7;
  color: white;
  display:inline-block;
}
#new-playlist-button {
  width:95%;
}
.music-item-list {
  padding:0px;
}

.music-item {
  display:block;
  height: 75px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #979797;
  margin-left: 5%;
  margin-right: 5%;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;

  text-align: left;

}
.music-item:active {
  background-color: #cac3d5;
}
.music-item > * {
  display: inline-block;
}
.music-cover-thumbnail {
  float: left;
  border-width: 1px;
  border-style: solid;
  border-color: #979797;
  width: 46px;
  height: 40px;
  background-color: #d8d8d8;
}
.music-title-subtitle {
  margin-left: 10px;
  width: 50%;
}
.text-cut-short {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.music-title {
  color: #835797;
  font-size: 110%;
}
.music-subtitle {
  color: #808080;
  font-size: 90%;
}

.music-item-button {
  float: right;
  font-size: 200%;
  color: #808080;
}

.modal-dim {
  background-color: #7f7f7f;
  opacity: 0.5;
}
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.playlist-selection {
  background-color: #E8E0F4;
  width: 65%;
  max-height: 65%;
  overflow-y: scroll;
  text-align: left;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.playlist-selection-title {
  color: #808080;
  margin: 10px;
  display: block;
}
.playlist-selection-cancel {
  float: right;
}
.playlist-selection-item {
  color: #835797;
  margin: 30px;
  display: block;
}
.sort-method-button-bar {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
}
.sort-method-button {
  flex-grow: 1;
  margin: 10px;

}
.sort-method-button:active {
  box-shadow: inset 3px 3px white;
}
